.map-container {
	margin-top: 2rem;
	background: hsl(190, 88%, 91%);
	border: 1px solid #afdfe9;
	border-radius: 2rem;
	
}
#mapid {
	width: 100%;
	height: 28rem;
}
.map-container footer {
	padding: 2rem 0;
	text-align: center;
}
.map-container footer a {
	color: hsl(190, 100%, 32%);
	text-decoration: none;
	font-weight: 700;
}

.map-container .leaflet-container {
	border-bottom: 1px solid #f5f8fa;
	border-radius: 2rem;
}